{{> head }}
{{> navbar }}
    
<div class="row">

    <div class="col-8">
        <h1>Nodemon</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur reprehenderit modi asperiores atque repudiandae eaque ab eos. Dolores vero sint tempora veniam totam rem commodi enim eum? Dignissimos, iste eveniet!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/nodemon.png" class="img-thumbnail">
    </div>

</div>


{{> footer }}